<nav class="navbar bg-dark border-bottom border-body px-3" data-bs-theme="dark">
<span><%= link_to "All my lists", lists_path, class: "text-decoration-none text-white" %></span>
<span><%= link_to "Add a new list", new_list_path, class: "text-decoration-none text-white" %></span>
</nav>

<div class="container">

<h1 class="text-center"><%= @list.name %></h1>

<h3>Bookmarks</strong></h3>
<div class="row">
  <% @list.bookmarks.each do |bookmark| %>
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <%= image_tag bookmark.movie.poster_url, width: 200, class: "card-img-top"%>
      <div class="card-body">
        <h5 class="card-title"><%= bookmark.movie.title %></h5>
        <p class="card-text"><%= bookmark.comment %></p>
        <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <i class="fa-solid fa-trash"></i>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>



<h4 class="mt-5">New bookmark</h4>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit "Submit comment", class: "btn btn-primary" %>
<% end %>



<p class="mt-4"><%= link_to "Back to the list of lists", lists_path, class: "text-decoration-none text-dark" %></li></p>
</div>
